service:
  name: EventBus-App
#app: your-app-name
#tenant: your-tenant-name

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline

custom:
  sqs:
    dev: apending
    prod: arn:aws:sqs:us-east-1:912918454053:EventBusApp-SharpSpring
  role:
    dev: arn:aws:iam::997357843271:role/Lambda
    prod: arn:aws:iam::912918454053:role/Lambda
  deploymentBucket:
    dev: digicore-lambda-deployment-dev
    prod: digicore-lambda-deployment
  profile:
    dev: DigiDev
    prod: DigiProd

provider:
  name: aws
  runtime: nodejs10.x
  region: us-east-1
  stage: ${opt:stage,'dev'}
  deploymentBucket:
    name: ${self:custom.deploymentBucket.${self:provider.stage}}
    serverSideEncryption: AES256
  role: ${self:custom.role.${self:provider.stage}}

functions:
  App:
    handler: handler.App
    name: EventBus-App-SharpSpring-${self:provider.stage}
    timeout: 30
    events:
      - sqs: ${self:custom.sqs.${self:provider.stage}}
      - http:
          path: test
          method: post
          cors: true
          private: false
