service:
  name: EventBus-App
#app: your-app-name
#tenant: your-tenant-name

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline

custom:
  sqs:
    dev: arn:aws:sqs:us-west-2:951585821496:EventBusApp-SharpSpring
    prod: https://sqs.us-west-2.amazonaws.com/211602931179/EventBusApp-SharpSpring
  deploymentBucket:
    dev: dpm-lambda-deployment-dev
    prod: dpm-lambda-deployment
  role:
    dev: arn:aws:iam::951585821496:role/Lambda
    prod: arn:aws:iam::211602931179:role/Lambda

provider:
  name: aws
  runtime: nodejs10.x
  region: us-west-2
  stage: ${opt:stage,'dev'}
  deploymentBucket:
    name: ${self:custom.deploymentBucket.${self:provider.stage}}
    serverSideEncryption: AES256
  role: ${self:custom.role.${self:provider.stage}}

functions:
  App:
    handler: handler.App
    name: EventBus-App-EbayConnector
    timeout: 30
    events:
      - sqs: ${self:custom.sqs.${self:provider.stage}}
      - http:
          method: get
          path: test
          cors: true
          private: true

 	