service:
  name: EventBus-Router
#app: your-app-name
#tenant: your-tenant-name

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline
  - serverless-domain-manager

custom:
  sqs:
    dev: arn:aws:sqs:us-west-2:951585821496:AppEventBusQueue
    prod: pending
  deploymentBucket:
    dev: dpm-lambda-deployment-dev
    prod: dpm-lambda-deployment
  tableApplication:
    dev: arn:aws:dynamodb:us-west-2:951585821496:table/eventbus-application
    prod: pending
  tableCompanyAppEvent:
    dev: arn:aws:dynamodb:us-west-2:951585821496:table/eventbus-companyAppEvent
    prod: pending
  tableEventLog:
    dev: arn:aws:dynamodb:us-west-2:951585821496:table/eventbus-eventLog
    prod: pending
  domain:
    domainName:
      dev: 'dev-api.digicore.io'
      prod: 'api.diginpm core.io' 
  customDomain:  
      domainName: ${self:custom.domain.domainName.${self:provider.stage}} 
      basePath: 'app-api'
      stage: ${self:provider.stage}
      createRoute53Record: true
      certificateName: '*.digicore.io'
      endpointType: 'edge'
          
provider:
  name: aws
  runtime: nodejs10.x
  region: us-west-2
  stage: ${opt:stage,'dev'}
  stackName: event-bus-router
  deploymentBucket:
    name: ${self:custom.deploymentBucket.${self:provider.stage}}
    serverSideEncryption: AES256
  apiKeys:
    - api-key
  apiName: api.eventbus-router
  role: arn:aws:iam::951585821496:role/LambdaEventBusRouter
  #role: ${self:custom.role.${self:provider.stage}}
  iamRoleStatements:
  #   - Effect: Allow
  #     Action:
  #       - dynamodb:*
  #     Resource: ${self:custom.tableApplication.${self:provider.stage}}
  #   - Effect: Allow
  #     Action:
  #       - dynamodb:*
  #     Resource: ${self:custom.tableCompanyAppEvent.${self:provider.stage}}
  #   - Effect: Allow
  #     Action:
  #       - dynamodb:*
  #     Resource: ${self:custom.tableEventLog.${self:provider.stage}}
  #   - Effect: Allow
  #     Action:
  #       - sqs:*
  #     Resource: ${self:custom.sqs.${self:provider.stage}}

functions:
  router:
    handler: handler.router
    name: EventBus-Router
    timeout: 30
    events:
      - sqs: ${self:custom.sqs.${self:provider.stage}}
      - http:
          path: event
          method: post
          cors: true
          private: true

 	